img {
    max-width: 400px;
    max-height: 400px;
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: Chartreuse;
    color: DarkSlateGrey;
    font-size: 1.2em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
}
