#imageWrapper {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

input {
    margin: 0 10px;
}

.image {
    margin: 10px;
    height: 250px;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.image:hover {
    height: 300px;
}

#radioWrapper>label {
    display: inline-block;
}

.navbar {
    background-color: limeGreen;
}

nav>form {
    width: 70%;
    margin: 0 auto;
}

.space {
    width: 10px;
}
