h1 {
    text-align: center;
}

#adminLogin {
    float:right;
}

#products {
    max-width: 45%;
    margin: auto;
}

#orderBar {
    float:left;
    margin-left:30px;
    padding-left:20px;
    display: block;
    max-width: 45%;
    margin: auto;
}

#btnDiv {
    width:45%;
    margin: auto;
}

#asideLeft {
    float:left;
    display:block;
    line-height:28px;
}

#asideRight {
    float:right;
    padding-left:15px;
}

#adminTable {
    max-width: 45%;
    margin: auto;
}

#btnLogout {
    float:right;
}

#adminControlls {
    margin: auto;
    width: 50%;
    text-align:center;
}

#btnHomepage {
    float:right; 
}

form {
    
}